@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");

@font-face {
  font-family: "Sailec Bold";
  font-display: swap;
  src: url("../fonts/Sailec Bold.woff") format("woff"), url("../fonts/Sailec Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Titillium Web";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Titillium Web";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 14px;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  width: 100%;
}

.ibg {
  position: relative;
}

.ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie .ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie .ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 2;
}

.header__body {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 72px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  color: #000;
  font-family: "Sailec Bold";
  font-size: 20px;
  text-transform: uppercase;
  position: relative;
  z-index: 3;
}

.header__burger {
  display: none;
}

.header__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
}

.header__link {
  font-family: "Sailec Bold";
  color: #666666;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.25px;
  margin: 0 0 0 22px;
}

.header__link:hover {
  color: #000;
}

/*
	Стиль иконки бургера
	.icon-menu{
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width:30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span{@include anim(0.3s,0s);top: 8px;left: 0px;position: absolute;width: 100%;height: 2px;background-color: #000;
			&:first-child{top: 0px;}
			&:last-child{top: auto;bottom: 0px;}
		}
		&.active{
			span{@include scale(0);
				&:first-child{@include rotate(-45deg);top: 8px;}
				&:last-child{@include rotate(45deg);bottom: 8px;}
			}
		}
	}
*/

.exploring {
  padding: 72px 0 0 0;
  margin: 0 0 20px 0;
}

.exploring__content {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.exploring__container {
  max-width: 1120px;
  padding: 0 20px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.exploring__body {
  padding: 0 20px 0 0;
  width: 50%;
}

.exploring__title {
  font-family: "Sailec Bold";
  font-size: 58px;
  line-height: 58px;
  letter-spacing: 0.25px;
  color: #4A4A4A;
  line-height: 1.21;
  margin: 0 0 20px 0;
}

.exploring__image img {
  max-width: 100%;
}

.text {
  font-size: 18px;
  line-height: 30px;
  color: #434A54;
}

.research {
  margin: 0 0 20px 0;
}

.research__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 0 20px;
  margin: 0 0 0 20px;
}

.research__body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.research__title {
  margin: 0 0 15px 0;
  width: 440px;
}

.research__text {
  margin: 0 0 28px 0;
  width: 460px;
}

.research__link {
  margin: 0 0 20px 0;
}

.research__image {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 65%;
      -ms-flex: 0 0 65%;
          flex: 0 0 65%;
}

.research__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.research-container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.title {
  font-family: "Sailec Bold";
  font-weight: bold;
  font-size: 36px;
  line-height: 1.21;
  letter-spacing: 0.25px;
  color: #4A4A4A;
}

.link {
  font-size: 16px;
  color: #1D6FF3;
}

.link:hover {
  color: #4A4A4A;
}

.learn {
  margin: 0 0 79px 0;
}

.learn__content {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.learn__container {
  max-width: 1120px;
  padding: 0 20px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.learn__body {
  padding: 0 20px 0 0;
  width: 50%;
}

.learn__title {
  line-height: 58px;
  letter-spacing: 0.25px;
  color: #4A4A4A;
  line-height: 1.21;
  margin: 0 0 20px 0;
}

.learn__text {
  width: 100%;
  margin: 0 0 50px 0;
}

.learn__image img {
  max-width: 100%;
}

.blog {
  margin-bottom: 55px;
}

.blog__title {
  margin: 0 0 15px 0px;
}

.blog__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0 -15px;
}

.blog__card {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 33.333%;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0 15px;
  margin-bottom: 55px;
}

.blog__image img {
  width: 100%;
}

.blog__body {
  background-color: #fff;
  margin: 0 25px 0 25px;
  -webkit-transform: translate(0, -50px);
      -ms-transform: translate(0, -50px);
          transform: translate(0, -50px);
  padding: 16px 20px;
  width: 280px;
}

.blog__subtitle {
  position: relative;
  margin: 0 0 15px 0;
}

.blog__subtitle::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 2px;
  bottom: -7px;
  left: 0;
  background-color: #9c9c9c;
}

.blog__text {
  font-size: 15px;
  line-height: 1.71;
  color: #434A54;
}

.blog__text a {
  color: #4A4A4A;
}

.blog__text a:hover {
  color: #000;
}

.subtitle {
  font-family: "Sailec Bold";
  font-weight: bold;
  font-size: 24px;
  line-height: 1.3;
  color: #4A4A4A;
}

.subtitle a {
  color: #4A4A4A;
}

.subtitle a:hover {
  color: #000;
}

.blog-container {
  max-width: 1080px;
  margin: 0 auto;
  width: 100%;
  padding: 0 10px;
}

.start {
  margin: 0 0 50px 0;
  height: 282px;
  background-color: #EEEEEE;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.start__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -20px;
}

.start__column {
  padding: 0 20px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.start__title {
  margin: 0 0 18px 0;
}

.start__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.start__email {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 299px;
      -ms-flex: 0 1 299px;
          flex: 0 1 299px;
  height: 42px;
  padding: 0 0 0 7px;
  -webkit-border-radius: 4px 0px 0px 4px;
          border-radius: 4px 0px 0px 4px;
}

.start__email::-webkit-input-placeholder {
  font-size: 18px;
  letter-spacing: 0.25px;
}

.start__email::-moz-placeholder {
  font-size: 18px;
  letter-spacing: 0.25px;
}

.start__email:-ms-input-placeholder {
  font-size: 18px;
  letter-spacing: 0.25px;
}

.start__email::-ms-input-placeholder {
  font-size: 18px;
  letter-spacing: 0.25px;
}

.start__email::placeholder {
  font-size: 18px;
  letter-spacing: 0.25px;
}

.start__btn {
  color: #fff;
  font-size: 18px;
  height: 42px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 121px;
      -ms-flex: 0 1 121px;
          flex: 0 1 121px;
  background-color: #1D6FF3;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 0px 4px 4px 0px;
          border-radius: 0px 4px 4px 0px;
}

.footer {
  margin-bottom: 75px;
}

.footer__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}

.footer__column {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 25%;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding: 0 15px;
}

.footer__title {
  font-family: "Sailec Bold";
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  color: #4A4A4A;
  margin: 0 0 20px 0;
}

.footer__list {
  margin: 0 0 30px 0;
}

.footer__list_rectangle {
  position: relative;
  margin: 0 0 45px 0;
}

.footer__list_rectangle::after {
  content: '';
  position: absolute;
  bottom: -25px;
  left: 0;
  width: 30px;
  height: 3px;
  background-color: #d6d6b9;
}

.footer__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.25px;
  margin: 0 0 10px 0;
}

.footer__link a {
  color: #637280;
}

.footer__link a:hover {
  color: #000;
}

.footer__link:last-child {
  margin: 0;
}

.footer__reference {
  margin: 0 10px 0 0;
}

.footer__reference img {
  max-width: 19px;
  height: 19px;
}

.footer__reference:last-child {
  margin: 0;
}

@media (min-width: 767.98px) {
  .exploring {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .exploring__image {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    -webkit-transform: translate(-100%, 0px);
        -ms-transform: translate(-100%, 0px);
            transform: translate(-100%, 0px);
  }

  .learn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .learn__image {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    -webkit-transform: translate(-100%, 0px);
        -ms-transform: translate(-100%, 0px);
            transform: translate(-100%, 0px);
  }
}

@media (max-width: 1300px) {
  .research__image {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 60%;
        -ms-flex: 0 0 60%;
            flex: 0 0 60%;
  }
}

@media (max-width: 1180px) {
  .research__image {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 55%;
        -ms-flex: 0 1 55%;
            flex: 0 1 55%;
  }
}

@media (max-width: 1120px) {
  .exploring__title {
    font-size: -webkit-calc(25px + 33 * ((100vw - 320px) / 760));
    font-size: calc(25px + 33 * ((100vw - 320px) / 760));
  }
}

@media (max-width: 1092px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 1080px) {
  .blog {
    margin-bottom: -webkit-calc(22px + 33 * ((100vw - 320px) / 760));
    margin-bottom: calc(22px + 33 * ((100vw - 320px) / 760));
  }

  .blog__card {
    margin-bottom: -webkit-calc(22px + 33 * ((100vw - 320px) / 760));
    margin-bottom: calc(22px + 33 * ((100vw - 320px) / 760));
  }

  .blog__text {
    font-size: -webkit-calc(13px + 2 * ((100vw - 320px) / 760));
    font-size: calc(13px + 2 * ((100vw - 320px) / 760));
  }

  .subtitle {
    font-size: -webkit-calc(18px + 6 * ((100vw - 320px) / 760));
    font-size: calc(18px + 6 * ((100vw - 320px) / 760));
  }

  .footer {
    margin-bottom: -webkit-calc(0px + 75 * ((100vw - 320px) / 760));
    margin-bottom: calc(0px + 75 * ((100vw - 320px) / 760));
  }
}

@media (max-width: 1075px) {
  .blog__card {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 50%;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .blog__body {
    width: 100%;
    margin: 0;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@media (max-width: 1070px) {
  .research__image {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 50%;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }

  .header__body {
    height: 60px;
  }

  .header__burger {
    display: block;
    position: relative;
    margin: 0 20px 0 0;
    z-index: 3;
    width: 30px;
    height: 20px;
    cursor: pointer;
  }

  .header__burger span {
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger::after,
  .header__burger::before {
    content: '';
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__burger::before {
    top: 0;
  }

  .header__burger::after {
    bottom: 0;
  }

  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header__menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 100px 0 0 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: auto;
  }

  .header__menu.active {
    left: 0;
  }

  .header__list {
    display: block;
    text-align: center;
  }

  .header__list li {
    margin: 0 0 30px 0;
  }

  .header__link {
    font-size: 30px;
  }

  .exploring__body {
    width: 100%;
    padding: 0;
  }

  .exploring__text {
    margin: 0 0 10px 0;
  }

  .exploring__image {
    padding: 0 20px;
    text-align: center;
  }

  .research__content {
    padding: 0;
    margin: 0;
  }

  .research__title {
    width: 100%;
  }

  .research__text {
    width: 100%;
  }

  .research__image {
    max-width: 100%;
  }

  .research-container {
    display: block;
  }

  .learn__body {
    width: 100%;
    padding: 0;
  }

  .learn__text {
    margin: 0 0 30px 0;
  }

  .learn__image {
    padding: 0 20px;
    text-align: center;
  }

  .start__row {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }

  .start__column {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 100%;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin: 0 0 20px 0;
  }

  .start__column:last-child {
    margin: 0;
  }

  .footer__row {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }

  .footer__column {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 50%;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 479.98px) {
  .blog__card {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 100%;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}